<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.11">
      <projectUrl>https://github.com/vbanthia/appium-jenkins-demo/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.3.5">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/vbanthia/appium-jenkins-demo</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>origin/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

set -e

# clean up
rm -rf *.zip *.app ./ios/build</command>
    </hudson.tasks.Shell>
    <au.com.rayh.XCodeBuilder plugin="xcode-plugin@1.4.8">
      <cleanBeforeBuild>true</cleanBeforeBuild>
      <cleanTestReports>false</cleanTestReports>
      <configuration>Debug</configuration>
      <target>AppiumJenkinsDemo</target>
      <sdk>iphonesimulator8.2</sdk>
      <symRoot></symRoot>
      <configurationBuildDir></configurationBuildDir>
      <xcodeProjectPath>./ios/</xcodeProjectPath>
      <xcodeProjectFile></xcodeProjectFile>
      <xcodebuildArguments></xcodebuildArguments>
      <xcodeSchema></xcodeSchema>
      <xcodeWorkspaceFile></xcodeWorkspaceFile>
      <embeddedProfileFile></embeddedProfileFile>
      <cfBundleVersionValue></cfBundleVersionValue>
      <cfBundleShortVersionStringValue></cfBundleShortVersionStringValue>
      <buildIpa>false</buildIpa>
      <generateArchive>false</generateArchive>
      <unlockKeychain>false</unlockKeychain>
      <keychainName>none (specify one below)</keychainName>
      <keychainPath></keychainPath>
      <keychainPwd></keychainPwd>
      <codeSigningIdentity></codeSigningIdentity>
      <allowFailingBuildResults>false</allowFailingBuildResults>
      <ipaName></ipaName>
      <ipaOutputDirectory></ipaOutputDirectory>
      <provideApplicationVersion>false</provideApplicationVersion>
      <changeBundleID>false</changeBundleID>
      <bundleID></bundleID>
      <bundleIDInfoPlistPath></bundleIDInfoPlistPath>
      <interpretTargetAsRegEx>true</interpretTargetAsRegEx>
      <ipaManifestPlistUrl></ipaManifestPlistUrl>
    </au.com.rayh.XCodeBuilder>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

set -e

mv ./ios/build/Debug-iphonesimulator/AppiumJenkinsDemo.app ./AppiumJenkinsDemo.app
zip -r AppiumJenkinsDemo.app.zip ./AppiumJenkinsDemo.app
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>*.zip</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.BuildTrigger>
      <childProjects>appium_jenkins_demo_ios_feature_addition, appium_jenkins_demo_ios_feature_subtraction</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>